<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a id="dashBoard" class="navbar-brand mr-5" href="/admin">ADMIN</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <a href='/admin' class="btn btn-a white" role="button">Default</a>
        <a href='/admin/users' class="btn btn-a white" role="button">Users</a>
        <a href='/admin/trans' class="btn btn-a white" role="button">Transactions</a>
        <a href="/kcoin" class="btn btn-a white" role="button">Go to Wallet</a>
    </div>
</nav>
<div class="container-fluid ml-sm-auto pt-3 mt-5">
    <h3>Statitics</h3>
    <p>Total users: {{usNum}}</p>
    <p>Total real balance: {{realBL}}</p>
    <p>Total avaiable balance: {{avaiBL}}</p>
</div>