<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a id="dashBoard" class="navbar-brand mr-5" href="/admin">ADMIN</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <a href='/admin' class="btn btn-a white" role="button">Default</a>
        <a href='/admin/users' class="btn btn-a white" role="button">Users</a>
        <a href='/admin/trans' class="btn btn-a white" role="button">Transactions</a>
        <a href="/kcoin" class="btn btn-a white" role="button">Go to Wallet</a>
    </div>
</nav>
<div class="container-fluid ml-sm-auto pt-3 mt-5">
    <div class="table-responsive">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Email</th><th>Address</th><th>Real Balance</th><th>Avail Balance</th>
                </tr>
            </thead>
                    <tbody>
                        {{#each users}}
                            <tr>
                                <td>{{this.email}}</td>
                                <td class="addressWidth">{{this.address}}</td>
                                <td>{{this.rebl}}</td>
                                <td>{{this.avbl}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
        </table>
    </div>
</div>