<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <title>1412008 - KCoin</title>
      <link rel="stylesheet" href="/css/reset.min.css">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/myStyle.css">
  </head>
  <body>
    {{{body}}}

    <script src="/js/popper.min.js"></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
