<!--No layout -->
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>1412008 KCoin</title>
    <link rel="stylesheet" href="/css/reset.min.css">

    <link rel='stylesheet prefetch' href='/fonts/font-roboto.css'>
    <link rel='stylesheet prefetch' href='/css/font-awesome.min.css'>

    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <!-- Form Mixin-->
    <!-- Input Mixin-->
    <!-- Button Mixin-->
    <!-- Pen Title-->
    <div class="pen-title">
        <h1>KCoin</h1>
        <!--<span>Pen <i class='fa fa-paint-brush'></i> + <i class='fa fa-code'></i> by <a href='http://andytran.me'>Andy Tran</a></span>-->
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click me!</div>
        </div>
        <div class="form">
            <h2>Login to your account</h2>
            <form method="post">
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form">
            <h2>Create an account</h2>
            <form action="/kcoin/login/rgt" method="post">
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <!--<input type="email" placeholder="Email Address"/>-->
                <!--<input type="tel" placeholder="Phone Number"/>-->
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                <button type="submit">Register</button>
            </form>
        </div>
        <!--<div class="cta"><a href="http://andytran.me">Forgot your password?</a></div>-->
    </div>
    {{#if hasErr}}
        <script>alert("{{mess}}")</script>
    {{/if}}
    <script src='/js/jquery-3.2.1.min.js'></script>
    <!--<script src='http://codepen.io/andytran/pen/vLmRVp.js'></script>-->
    <script src="/js/login.js"></script>
</body>
</html>
