<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title ></title>
    </head>
    <body>
        <p>Confirm Code: {{code}}</p>
        <p>If you don't recognize this email, just ignore it. Thank you!</p>
        <p>Please don't reply this email.</p>
    </body>
</html>