.btnEdit {
    height: 25px;
    padding: 0px 10px;
}

.btnMargin {
    margin: 1px 5px;
}

.centerP {
    height: 50px;
    vertical-align: middle;
}

.myImg {
	margin-bottom: 10px;
}

.maxWidth {
	/* max-width: 360px; */
	width: 100%;
	margin-bottom: 10px;
}

.white {
    color: white;
}

.white:hover {
    color: lightgreen;
}

.addressWidth {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}